<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="todo-list.png">
  <title>
  @section('title')
  Adonis Todo App
  @endsection
  </title>
  {{ style('plugins/bs4/css/bootstrap.min.css') }}
  {{ style('app') }}
</head>
<body>
  @!section('content')
</body>
</html>
